<uib-accordion close-others="true">

  <div ngf-drop ngf-select ng-model="files" class="drop-box"
       ngf-multiple="true" ngf-allow-dir="false"
       accept="image/*,application/pdf"
       ngf-pattern="'image/*,application/pdf'">
        <uib-accordion-group panel-class="panel-info" heading={{document.title}} is-open="false" is-disabled="false" ng-repeat="document in records">
          <div class="row" ng-repeat="document in document.records">{{document.name}}</div>
        </uib-accordion-group>
  </div>
</uib-accordion>

